@charset "utf-8";
@import url(reset.css);
@import url(font.css);

/* 작성일 : 2023.11.27 */
/* 작성자 : 정유림 */

/* LAYOUT */
html, body {position:relative; margin:0px; padding:0px; width:100%; height:100%; background-color:#f7f7f7; min-width:1455px; min-height:900px;}
header {position:relative; margin:0px; padding:0px; width:100%; height:36px; background-color:#ffffff; z-index:999999;}
#wrap  {position:relative; margin:0px; padding:0px; width:100%; height:898px; display:flex; flex-flow:row nowrap; justify-content:flex-start; align-items:flex-start;}
#lnb   {position:relative; margin:0px; padding:0px; width:251px; height:100%; min-height:915px; overflow:auto; background:#081a4d; color:#ffffff;}
.contents_wrap {position:relative; margin:0px; padding:0px; width:calc(100% - 251px); height:100%; background-color:#f7f7f7;}
.contents {position:relative; height:100%; margin:18px 20px 20px 20px; padding:7px 12px 12px; border:1px #d1d1d1 solid; background-color:#ffffff;}



/* Header */
header .toputil {position:relative; height:36px; background-color:#001d7a;}
header .toputil-left {position:relative; float:left; width:251px;}
header .toputil a {display:inline-block; color:#b0bad6; padding:0px 33px 0px 42px; text-decoration:none; font-size:14px; font-weight:400; height:36px; line-height:36px; letter-spacing:-0.01em; border-right:1px #334a95 solid; background-repeat:no-repeat; background-position:top 10px left 18px, top 10px right 12px;}
header .toputil a:hover {color:#ffffff;}
header .toputil a.system {width:122px; background-image:url('../img/lnb_01_off.png'), url('../img/lnb_arrow.png');}
header .toputil a.system:hover {background-image:url('../img/lnb_01_on.png'), url('../img/lnb_arrow.png');}
header .toputil a.system-active {color:#ffffff; background-image:url('../img/lnb_01_on.png'), url('../img/lnb_arrow.png');} /* 선택된 상태일때 고정값 */
header .toputil a.window {width:129px; background-image:url('../img/lnb_02_off.png'), url('../img/lnb_arrow.png');}
header .toputil a.window:hover {background-image:url('../img/lnb_02_on.png'), url('../img/lnb_arrow.png');}
header .toputil a.window-active {color:#ffffff; background-image:url('../img/lnb_01_on.png'), url('../img/lnb_arrow.png');} /* 선택된 상태일때 고정값 */

header .toputil-centered h1 {float:none; position:absolute; top:50%; left:50%; height:36px; line-height:36px; transform:translate(-50%, -50%); background-image:url('../img/logo.png'); background-repeat:no-repeat; background-position:0px 0px; color:#ffffff; font-size:14px; font-weight:500; padding-left:49px;}



/* LNB */
#lnb > ul {position:relative; height:100% !important; border-top:1px solid #45537a;}
#lnb > ul > li {border-bottom:1px solid #45537a; background-color:#172857; background-image:url('../img/snb_unfold_arrow.png'); background-repeat:no-repeat; background-position:right 16px center;}
#lnb > ul > li:hover {background-color:#3a8ff0; background-image:url('../img/snb_unfold_arrow.png'); background-repeat:no-repeat; background-position:right 16px center;}
#lnb > ul > li.on {display:block; background-color:#3a8ff0;}
#lnb > ul > li img {display:inline-block; vertical-align:middle; margin-right:8px;}
#lnb > ul > li > a {display:block; vertical-align:middle; padding:0px 0px 0px 16px; height:36px; line-height:36px; color:#cccccc; font-size:15px; font-weight:400;}
#lnb > ul > li > a:hover, #lnb > ul > li.on > a {color:#ffffff;}
#lnb > ul > li > a.menu01 {background-image:url('../img/snb_01.png'); background-repeat:no-repeat; background-position:left 18px top 10px;}
#lnb > ul > li.on > a.menu01 {background-image:url('../img/snb_01.png'), url('../img/snb_fold_arrow.png'); background-repeat:no-repeat; background-position:left 18px top 10px, right 16px center;}
#lnb > ul > li > a.menu02 {background-image:url('../img/snb_02.png'); background-repeat:no-repeat; background-position:left 18px top 10px;}
#lnb > ul > li.on > a.menu02 {background-image:url('../img/snb_02.png'), url('../img/snb_fold_arrow.png'); background-repeat:no-repeat; background-position:left 18px top 10px, right 16px center;}
#lnb > ul > li > a.menu03 {background-image:url('../img/snb_03.png'); background-repeat:no-repeat; background-position:left 18px top 10px;}
#lnb > ul > li.on > a.menu03 {background-image:url('../img/snb_03.png'), url('../img/snb_fold_arrow.png'); background-repeat:no-repeat; background-position:left 18px top 10px, right 16px center;}
#lnb > ul > li > a.menu04 {background-image:url('../img/snb_04.png'); background-repeat:no-repeat; background-position:left 18px top 10px;}
#lnb > ul > li.on > a.menu04 {background-image:url('../img/snb_04.png'), url('../img/snb_fold_arrow.png'); background-repeat:no-repeat; background-position:left 18px top 10px, right 16px center;}
#lnb > ul > li > a.menu05 {background-image:url('../img/snb_05.png'); background-repeat:no-repeat; background-position:left 18px top 10px;}
#lnb > ul > li.on > a.menu05 {background-image:url('../img/snb_05.png'), url('../img/snb_fold_arrow.png'); background-repeat:no-repeat; background-position:left 18px top 10px, right 16px center;}
#lnb > ul > li > a.menu06 {background-image:url('../img/snb_06.png'); background-repeat:no-repeat; background-position:left 18px top 10px;}
#lnb > ul > li.on > a.menu06 {background-image:url('../img/snb_06.png'), url('../img/snb_fold_arrow.png'); background-repeat:no-repeat; background-position:left 18px top 10px, right 16px center;}
#lnb > ul > li > a.menu07 {background-image:url('../img/snb_07.png'); background-repeat:no-repeat; background-position:left 18px top 10px;}
#lnb > ul > li.on > a.menu07 {background-image:url('../img/snb_07.png'), url('../img/snb_fold_arrow.png'); background-repeat:no-repeat; background-position:left 18px top 10px, right 16px center;}
#lnb > ul > li > a.menu08 {background-image:url('../img/snb_08.png'); background-repeat:no-repeat; background-position:left 18px top 10px;}
#lnb > ul > li.on > a.menu08 {background-image:url('../img/snb_08.png'), url('../img/snb_fold_arrow.png'); background-repeat:no-repeat; background-position:left 18px top 10px, right 16px center;}
#lnb > ul > li > ul {display:none; margin:0px; padding:6px 0px; background-color:#081a4d; border-top:1px solid #45537a; font-size:0px;}
#lnb > ul > li > ul > li {margin-left:8px;}
#lnb > ul > li > ul > li > a {display:block; height:28px; line-height:28px; padding-left:40px; color:#15b3b3; font-size:15px; font-weight:400; background-image:url('../img/snb_2depth_bullet_off.png'); background-position:20px center; background-repeat:no-repeat;}
#lnb > ul > li > ul > li > a:hover {color:#00ffff; background-image:url('../img/snb_2depth_bullet_on.png'); background-position:20px center; background-repeat:no-repeat;}
#lnb > ul > li > ul > li.on > a {color:#00ffff; background-image:url('../img/snb_2depth_bullet_on.png'); background-position:20px center; background-repeat:no-repeat;}
#lnb > ul > li > ul > li > ul {display:none; margin:0px; padding:0px 2px 0px 30px; font-size:0px;}
#lnb > ul > li > ul > li > ul > li > a {display:block; margin:10px 0px; height:13px; line-height:13px; padding-left:10px; color:#e5e5e5; font-size:14px; font-weight:200; letter-spacing:-0.05em;}
#lnb > ul > li > ul > li > ul > li > a:hover  {color:#80ffbf; background-color:#2b3b66;}
#lnb > ul > li > ul > li > ul > li > a.active {color:#80ffbf; background-color:#2b3b66;}



/* Tabs */
.tabs_wrap {position:relative; overflow:hidden; margin:0px; padding:0px; width:100%; height:39px; background-image:url('../img/tab_bg.png'); display:flex; flex-flow:row nowrap; justify-content:flex-start; align-items:flex-end;}
.tabs_wrap .tabs {position:absolute; z-index:77777; padding:0px 20px 0px 18px; font-size:0px; width:calc(100% - 38px); height:35px; display:flex; flex-flow:row nowrap; justify-content:flex-start; align-content:flex-start;}
.tabs_wrap .tabs .tab {height:35px; line-height:35px; padding:0px 8px 0px 10px; margin:0px 0px 0px 2px; border-top:1px #e6e6e6 solid; border-right:1px #e6e6e6 solid; border-left:1px #e6e6e6 solid; border-bottom:1px #cccccc solid; display:flex; flex-flow:row nowrap; align-items:flex-start; cursor:pointer;}
.tabs_wrap .tabs .tab:first-child {margin-left:0px !important;}
.tabs_wrap .tabs .active {height:35px !important; background-color:#f7f7f7; border-top:1px #cccccc solid; border-right:1px #cccccc solid; border-left:1px #cccccc solid; border-bottom:1px #f7f7f7 solid;}
.tabs_wrap .tabs .tab:hover {border-top:1px #cccccc solid; border-right:1px #cccccc solid; border-left:1px #cccccc solid; background-color:#f7f7f7;}
.tabs_wrap .tabs .tab p {font-size:14px; color:#808080; font-weight:400 !important; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; word-break:normal; word-wrap:break-word;}
.tabs_wrap .tabs .active p, .tabs_wrap .tabs .tab p:hover {color:#242424 !important;}
.tabs_wrap .tabs .tab button {margin-left:7px; margin-top:10px; width:14px; height:14px; background-color:transparent; background-image:url('../img/btn_close_off.png');}
.tabs_wrap .tabs .tab button.tab_selected {background-image:url('../img/btn_close_on.png');}



/* Title + Win_Btn */
.contents .title {position:relative; width:100%; height:24px; margin:0px; padding:0px;}
.contents .title h3 {float:left; color:#009999; font-size:14px; font-weight:500; line-height:24px; padding:0px 0px 0px 12px; background-image:url('../img/bullet.png'); background-repeat:no-repeat; background-position:left center;}
.contents .title .win_btn {float:right; margin:0px; padding:0px; font-size:0px;}
.contents .title .win_btn li {display:inline-block; margin-left:6px;}
.contents .title .win_btn li a {display:inline-block; width:24px; height:24px;}
.contents .title .win_btn li a.fold {background-image:url('../img/btn_fold_off.png');} /* 접기 */
.contents .title .win_btn li a.fold:hover {background-image:url('../img/btn_fold_on.png');}
.contents .title .win_btn li a.reduce {background-image:url('../img/btn_reduce_off.png');} /* 축소 */
.contents .title .win_btn li a.reduce:hover {background-image:url('../img/btn_reduce_on.png');}
.contents .title .win_btn li a.big {background-image:url('../img/btn_big_off.png');} /* 확대 */
.contents .title .win_btn li a.big:hover {background-image:url('../img/btn_big_on.png');}
.contents .title .win_btn li a.tabclose {background-image:url('../img/btn_tabclose_off.png');} /* 닫기 */
.contents .title .win_btn li a.tabclose:hover {background-image:url('../img/btn_tabclose_on.png');}
.contents .title a {display:inline-block; float:right; margin-top:2px; margin-right:2px; width:36px; height:36px; background:url("../img/lnb_close_off.png");}

/* Grid Search */
.contents .search_grid {position:relative; margin:0px; padding:0px; border-left:2px #c7c6bf solid; border-top:2px #c7c6bf solid; border-right:2px #c7c6bf solid; border-bottom:1px #c7c6bf solid; background-color:#fafafa;}
.contents .search_grid table {border-collapse:collapse; /* IE7 and lower */ border-spacing:0px; overflow:hidden;}
.contents .search_grid table th, .contents .search_grid table td {border-bottom:1px solid #dbdad3; height:40px;}
.contents .search_grid table th {font-size:14px; color:#000000; font-weight:500;}
.contents .search_grid table td {font-size:14px; color:#333333; font-weight:400; padding:0px 10px !important; text-align:left; vertical-align:middle; border-right:1px solid #dbdad3;}
.contents .search_grid input, .contents .search_grid select {height:28px; border-left:1px #e6e6e6 solid; border-top:1px #e6e6e6 solid; border-right:1px #e6e6e6 solid; border-bottom:1px #999999 solid; display:inline-block; vertical-align:middle;}
.contents .search_grid input[type="date"] {width:140px;}
.contents .search_grid p input[type="radio"] + label {display:inline-block; vertical-align:middle;}
.contents .search_grid button {position:relative; display:inline-block; width:80px; height:28px; line-height:29px; font-size:12px; color:#ffffff; font-weight:500; margin-left:10px; background-color:#8a877c;}
.contents .search_grid button:hover {color:#8a867c; background-color:#dbdad3; border:1px #ada99c solid;}


.contents .search_grid input[type="button"] {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 28px;
    line-height: 2px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 5px;
    background-color: #8a877c;
}

.contents .search_grid input[type="button"]:hover {
    color: #8a867c;
    background-color: #dbdad3;
    border: 1px #ada99c solid;
}

.contents .search_grid input[type="submit"] {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 28px;
    line-height: 2px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 5px;
    background-color: #8a877c;
}

.contents .search_grid input[type="submit"]:hover {
    color: #8a867c;
    background-color: #dbdad3;
    border: 1px #ada99c solid;
}


/* Grid Search 영역안에 CHECKERBOX */
.contents .search_grid p {display:inline-block; vertical-align:middle;}
.contents .search_grid p input[type="checkbox"] {display:none;}
.contents .search_grid p input[type="checkbox"] + label {display:block; padding-left:23px; cursor:pointer; background-image:url("../img/checkbox.png"); background-position:0px 0px; background-repeat:no-repeat; vertical-align:middle;} /* 기본 체커박스 */
.contents .search_grid p input[type="checkbox"]:checked + label {background-image:url("../img/checkbox.png"); background-position:0px -48px; background-repeat:no-repeat; vertical-align:middle;} /* 체크한 경우 */
.contents .search_grid p input[type="checkbox"].disable1 + label {background-image:url("../img/checkbox.png"); background-position:0px -24px; background-repeat:no-repeat; vertical-align:middle;} /* 비활성인 경우 */
.contents .search_grid p input[type="checkbox"].disable2 + label {background-image:url("../img/checkbox.png"); background-position:0px -72px; background-repeat:no-repeat; vertical-align:middle;} /* 체커가 된 상태로 비활성인 경우 */



/* 그리드 */
.contents .grid_wrap {position:relative; margin:0px; padding:0px; width:100%; overflow:scroll;}

.contents .grid_wrap table {box-sizing:content-box; width:100%; border-left:1px #b8c3cc solid; border-top:2px #a7c3d6 solid; border-collapse:collapse;}
.contents .grid_wrap th {height:32px; box-sizing:content-box; border-right:1px #a7c3d6 solid; border-bottom:1px #a7c3d6 solid; background-color:#edf5fa; color:#2e6e99; font-size:12px; font-weight:400;}
.contents .grid_wrap td {box-sizing:content-box; border-right:1px #d6d6d6 solid; border-bottom:1px #d6d6d6 solid; text-align:center; height:32px; line-height:32px; font-size:12px; font-weight:400; padding:0px 19px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; word-wrap:normal;}
.contents .grid_wrap tr:nth-child(2n) td {background-color:#f7f9fa;}
.contents .grid_wrap tr:hover td {background-color:#fff0e5 !important; cursor:pointer;}
.contents .grid_wrap tr:hover td:first-child {background-image:url("../img/grid_arrow.png"); background-position:center center; background-repeat:no-repeat;}

/* 그래프 Box */ /* 2023.12.13 추가 */
.contents div.graph_wrap {position:relative; margin:0px;  width:100%; border:1px #dbdbdb solid;} /*padding:20px;*/

/* 그리드가 가로로 2단인 경우 */ /* 2023.12.29 추가 */
.contents .col2 {width:100%; display:flex; flex-flow:row nowrap; justify-content:flex-start; align-items:flex-start;}
.contents .col2 .tbl {width:calc(50% - 10px); display:flex; flex-flow:column wrap;}


/* POPUP */ /* 2023.12.04 추가 */
.popup_wrap {position:relative; margin:0px auto; padding:0px; width:410px; height:380px; background-color:#ffffff; box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.14);}
.popup_wrap .title {height:40px; background-color:#053085;}
.popup_wrap .title h1 {float:left; margin-left:20px; color:#ffffff; font-size:15px; font-weight:400; line-height:38px;}
.popup_wrap .title a {display:inline-block; float:right; margin-top:2px; margin-right:2px; width:36px; height:36px; background:url("../img/lnb_close_off.png");}
.popup_wrap .box {margin:20px;}
.popup_wrap .box table {width:100%; border:1px #8fb4cc solid; border-collapse:collapse;}
.popup_wrap .box table th {width:160px; height:40px; text-align:left; padding-left:20px; border-right:#cad7e0 1px solid; border-bottom:#cad7e0 1px solid; background-color:#edf5fa; color:#2e6e99; font-size:12px; font-weight:400; line-height:40px;}
.popup_wrap .box table td {padding-left:20px; border-bottom:#cad7e0 1px solid; text-align:left; font-size:12px; font-weight:300;}
.popup_wrap .box table td input, .popup_wrap .box table td select {height:28px; border-left:1px #e6e6e6 solid; border-top:1px #e6e6e6 solid; border-right:1px #e6e6e6 solid; border-bottom:1px #999999 solid; display:inline-block; vertical-align:middle;}
.popup_wrap .box .btn_wrap {position:relative; text-align:center; height:40px;}
.popup_wrap .box .btn_wrap a {display:inline-block; width:74px; height:30px; color:#ffffff; font-size:12px; font-weight:400; line-height:30px; text-align:center;}
.popup_wrap .box .btn_wrap a.btn {background-color:#3a8ff0;}
.popup_wrap .box .btn_wrap a.btn:hover {background-color:#146acc;}
.popup_wrap .box .btn_wrap a.btn_close {background-color:#525c66;}
.popup_wrap .box .btn_wrap a.btn_close:hover {background-color:#343943;}
.ml10 {margin-left:10px !important;}
.mt20 {margin-top:20px !important;}

/* Common */
.ml20 {margin-left:20px !important;}
.mt13 {margin-top:13px !important;}
.mt14 {margin-top:14px !important;}

.al-l {text-align:left !important;}
.al-c {text-align:center !important;}
.al-r {text-align:right !important;}

.nowrap {white-space:nowrap !important;}

.readonly {color:#808080; background-color:#f5f5f5;}


  .contents input[type="button"] {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 28px;
    line-height: 2px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 5px;
    background-color: #8a877c;
    border:WHITE;
}

.contents input[type="button"]:hover {
    color: #8a867c;
    background-color: #dbdad3;
    border: 1px #ada99c solid;
}


.contents .btn_wrap {position:relative; text-align:center; height:40px;}
.contents .btn_wrap a {display:inline-block; width:74px; height:30px; color:#ffffff; font-size:12px; font-weight:400; line-height:30px; text-align:center;}
.contents .btn_wrap a.btn {background-color:#3a8ff0;}
.contents .btn_wrap a.btn:hover {background-color:#146acc;}
.contents .btn_wrap a.btn_close {background-color:#525c66;}
.contents .btn_wrap a.btn_close:hover {background-color:#343943;}

