<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="sqlServer4.0" />
    <dataSource name="JC2" connectionString="Data Source=10.208.168.42;Initial Catalog=HMESDB;User ID=mesdba;Password=h1s@ladmin;Integrated Security=False"/>	 
  </database>

  <sqlMaps>
    <sqlMap resource="MenuData.xml" />
    <sqlMap resource="ComCodeData.xml" />
    <sqlMap resource="DicData.xml" />
    <sqlMap resource="DictionaryData.xml" />
    <sqlMap resource="MessageData.xml" />
    <sqlMap resource="UserInfoData.xml" />
    <sqlMap resource="MsgData.xml" />
    <sqlMap resource="CUDData.xml" />
    <sqlMap resource="ErrorLogData.xml" />
    <sqlMap resource="ComSearchControlData.xml" />
    <sqlMap resource="ButtonData.xml" />
    <sqlMap resource="AuthGroupData.xml" />
    <sqlMap resource="NoticeData.xml" />
    <sqlMap resource="WidgetData.xml" />
    <sqlMap resource="StatisticsData.xml" />
    <sqlMap resource="ButtonStatisticsData.xml" />

    <sqlMap resource="Info01Data.xml" />
    <sqlMap resource="Info02Data.xml" />
    <sqlMap resource="Info03Data.xml" />
    <sqlMap resource="Info04Data.xml" />
    <sqlMap resource="Info05Data.xml" />
    <sqlMap resource="Info06Data.xml" />
    <sqlMap resource="Info07Data.xml" />
    <sqlMap resource="Info08Data.xml" />
    <sqlMap resource="Info10Data.xml" />
    <sqlMap resource="Info11Data.xml" />
    <sqlMap resource="Info12Data.xml" />
    <sqlMap resource="Info14Data.xml" />
    <sqlMap resource="Info15Data.xml" />
    <sqlMap resource="Info16Data.xml" />
    <sqlMap resource="Info17Data.xml" />
    <sqlMap resource="Info18Data.xml" />
    <sqlMap resource="Info19Data.xml" />
    <sqlMap resource="Info30Data.xml" />
    <sqlMap resource="Info37Data.xml" />
    <sqlMap resource="Info38Data.xml" />
    <sqlMap resource="Info39Data.xml" />
    <sqlMap resource="Info40Data.xml" />
    <sqlMap resource="Info41Data.xml" />
    <sqlMap resource="Info42Data.xml" />
    <sqlMap resource="Info43Data.xml" />
    <sqlMap resource="Info47Data.xml" />
    <sqlMap resource="Info48Data.xml" />
    <sqlMap resource="Info49Data.xml" />
    <sqlMap resource="Info50Data.xml" />
    <sqlMap resource="Info52Data.xml" />
    <sqlMap resource="Info54Data.xml" />
    <sqlMap resource="Info56Data.xml" />
    <sqlMap resource="Info59Data.xml" />
    <sqlMap resource="Info60Data.xml" />
    <sqlMap resource="Info61Data.xml" />
    <sqlMap resource="Info62Data.xml" />
    <sqlMap resource="Info63Data.xml" />
    <sqlMap resource="Mon10Data.xml" />
    <sqlMap resource="Mon11Data.xml" />
    <sqlMap resource="Mon13Data.xml" />
    <sqlMap resource="Mon14Data.xml" />
    <sqlMap resource="Mon15Data.xml" />
    <sqlMap resource="Mon16Data.xml" />
    <sqlMap resource="Mon17Data.xml" />
    <sqlMap resource="Mon18Data.xml" />
    <sqlMap resource="Mon19Data.xml" />
    <sqlMap resource="Mon20Data.xml" />
    <sqlMap resource="MonWidgetData.xml" />
    <sqlMap resource="Pln02Data.xml" />
    <sqlMap resource="Pln03Data.xml" />
    <sqlMap resource="Pln04Data.xml" />
    <sqlMap resource="Pln05Data.xml" />
    <sqlMap resource="PlnWidgetData.xml" />
    <sqlMap resource="Qua10Data.xml" />
    <sqlMap resource="Qua11Data.xml" />
    <sqlMap resource="Qua12Data.xml" />
    <sqlMap resource="Qua13Data.xml" />
    <sqlMap resource="Qua14Data.xml" />
    <sqlMap resource="Qua15Data.xml" />
    <sqlMap resource="Qua22Data.xml" />
    <sqlMap resource="Qua24Data.xml" />
    <sqlMap resource="Qua34Data.xml" />
    <sqlMap resource="Qua38Data.xml" />
    <sqlMap resource="Qua40Data.xml" />
    <sqlMap resource="Qua50Data.xml" />
    <sqlMap resource="Qua51Data.xml" />
    <sqlMap resource="Qua98Data.xml" />
    <sqlMap resource="QuaWidgetData.xml" />
    <sqlMap resource="ResCommData.xml" />
    <sqlMap resource="ResComm2Data.xml" />
    <sqlMap resource="ResWidgetData.xml" />
    <sqlMap resource="Res02Data.xml" />
    <sqlMap resource="Res11Data.xml" />
    <sqlMap resource="Res12Data.xml" />
    <sqlMap resource="Res18Data.xml" />
    <sqlMap resource="Res19Data.xml" />
    <sqlMap resource="Res20Data.xml" />
    <sqlMap resource="Res26Data.xml" />
    <sqlMap resource="Res27Data.xml" />
    <sqlMap resource="Res28Data.xml" />
    <sqlMap resource="Spc01Data.xml" />
    <sqlMap resource="Spc02Data.xml" />
    <sqlMap resource="Spc03Data.xml" />
    
  </sqlMaps>
</sqlMapConfig>