<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 애플리케이션을 구성하는 방법에 대한 자세한 내용은 다음을 참조하세요.
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>


  <configSections>
    <!--<sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v23.1, Version=23.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v23.1, Version=23.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v23.1, Version=23.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v23.1, Version=23.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v23.1, Version=23.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>-->

    <section name="Telerik.Reporting" type="Telerik.Reporting.Processing.Config.ReportingConfigurationSection, Telerik.Reporting, Version=10.1.16.504, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" allowLocation="true" allowDefinition="Everywhere" />

  </configSections>
  
  <appSettings>
    
      <add key="IMAGE_PATH" value="C:\WebApp\Images\" />
      <add key="ERROR_PATH" value="C:\WebApp\ERR_LOG\" />
      <add key="NOTICE_PATH" value="C:\WebApp\Notice\" />
      <add key="FILE_PATH" value="C:\WebApp\File\" />
      <!--<add key="FILE_ATTACH_PATH" value="https://emes.h-greenpower.co.kr/File/" />-->
      <add key="FILE_ATTACH_PATH" value="http://localhost:53350/File/" />
      <!--<add key="ATTACH_PATH" value="https://emes.h-greenpower.co.kr/Notice/" />-->
      <add key="ATTACH_PATH" value="http://localhost:53350/Notice/" />
      <add key="PPT_PATH" value="C:\WebApp\ppt\" />
      <add key="HQC_CRYPTKEY" value="HQC_KR_DPTEAM_20230818_NEWSYSTEM" />
      <!--<add key="WEB_IP_PORT" value="http://10.208.163.30:81" />-->
      <add key="WEB_IP_PORT" value="http://localhost:53350" />
      <!--<add key="IFRAME_IP_PORT" value="http://localhost:8087" />-->
    <add key="IFRAME_IP_PORT" value="/PIB" />
	  
	<!-- <add key="SQLMAPCONFIG_FILE_PATH" value="C:\\HL2\\1-2.WEB\WebSource\\HQCWeb\\HQCWeb\\bin\\" /> -->
	<add key="SQLMAPCONFIG_FILE_PATH" value="C:\\WEB\\WEB\WebSource\\HQCWeb\\HQCWeb\\bin\\" />
	
    <add key="LogDurationDays" value="5" />
	  
    <add key="DatabaseList" value="GPDB" /> 
    <add key="DefaultConnectionstring" value="GPDB" />

    <!-- 현황판 소스에서 가져온 key -->
    <add key="LinkedServer" value=""/>
    <add key="dbLocation" value="192.168.0.126"/>
    <add key="dbUser" value="sa"/>
    <add key="dbPassword" value="CVJmes369!"/>
    <add key="dbName" value="HMESDB"/>
    <!-- DB 정보(가동서버) -->
    <!--<add key="dbLocation" value="10.242.48.35" />
    <add key="dbUser" value="mesdba" />
    <add key="dbPassword" value="h1s@ladmin" />
    <add key="dbName" value="HMESDB" />-->
    
  </appSettings>
  <connectionStrings>
	<!-- <add name="GPDB_Connectionstring" connectionString="Data source=10.208.168.42;Initial Catalog=HMESDB;User ID=mesdba;Password=h1s@ladmin;Connect Timeout=30;Min Pool Size=8; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" /> -->
    <add name="GPDB_Connectionstring" connectionString="Data source=192.168.0.213;Initial Catalog=HMESDB;User ID=sa;Password=wia123!;Connect Timeout=60;Min Pool Size=8; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="WIA_Connectionstring" connectionString="Data source=192.168.200.182;Initial Catalog=HMESDB;User ID=WA_MES;Password=1234;Connect Timeout=60;Min Pool Size=8; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <!--<add name="GPDB_Connectionstring" connectionString="Data source=192.168.0.126;Initial Catalog=HMESDB;User ID=sa;Password=CVJmes369!;Connect Timeout=60;Min Pool Size=8; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="GPDB_Connectionstring" connectionString="Data source=10.242.48.35;Initial Catalog=HMESDB;User ID=mesdba;Password=h1s@ladmin;Connect Timeout=60;Min Pool Size=8; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--<devExpress>
    <resources>
      <add type="ThirdParty" />
      <add type="DevExtreme" />
    </resources>
    --><!--<themes enableThemesAssembly="true" styleSheetTheme="" theme="Office365" customThemeAssemblies="" baseColor="" font="" />--><!--
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" bootstrapMode="" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>-->
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    
    <compilation debug="true" targetFramework="4.8">
      <assemblies>

        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" maxRequestLength="30720" executionTimeout="300" />
    <pages>
      <!--<namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>-->
      <controls>
        <!--<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />-->
        <!--<add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v23.1, Version=23.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<add tagPrefix="dxtl" namespace="DevExpress.Web.ASPxTreeList" assembly="DevExpress.Web.ASPxTreeList.v23.1, Version=23.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<add tagPrefix="dxcharts" namespace="DevExpress.XtraCharts" assembly="DevExpress.XtraCharts.v23.1, Version=23.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<add tagPrefix="dxchartsui" namespace="DevExpress.XtraCharts.Web" assembly="DevExpress.XtraCharts.v23.1.Web, Version=23.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />-->
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
	  <sessionState mode="InProc" timeout="60"></sessionState>
    
    <!--<identity impersonate="true" userName="HGP" />-->
    
    <httpHandlers>
    </httpHandlers>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="403"/>
      <remove statusCode="404"/>
      <remove statusCode="405"/>
      <remove statusCode="500"/>
      <error statusCode="403" path="/Default.html" responseMode="ExecuteURL" />
      <error statusCode="404" path="/Default.html" responseMode="ExecuteURL" />
      <error statusCode="405" path="/Default.html" responseMode="ExecuteURL" />
      <error statusCode="500" path="/Default.html" responseMode="ExecuteURL" />
    </httpErrors>-->
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!--<remove name="NevronDiagram" />
      <remove name="NevronScriptManager" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v23.1, Version=23.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" name="ASPxHttpHandlerModule" path="DX.ashx" preCondition="integratedMode" />
      <add name="NevronDiagram" preCondition="integratedMode" verb="*" path="NevronDiagram.axd" type="Nevron.Diagram.WebForm.NDiagramImageResourceHandler" />
      <add name="NevronScriptManager" preCondition="integratedMode" verb="*" path="NevronScriptManager.axd" type="Nevron.UI.WebForm.Controls.NevronScriptManager" />-->
    </handlers>
    <modules>
      <!--<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v23.1, Version=23.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />-->
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
        <rewrite>
            <outboundRules>
                <rule name="Remove Server Header">
                    <match serverVariable="RESPONSE_Server" pattern=".+" />
                    <action type="Rewrite" value="" />
                </rule>
            </outboundRules>
        </rewrite>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.JSInterop" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.13.0" newVersion="3.1.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <Telerik.Reporting>
    <extensions>
      <render>
        <extension name="PDF">
          <parameters>
            <parameter name="FontEmbedding" value="Subset" />
          </parameters>
        </extension>
      </render>
    </extensions>
    <!--<privateFonts>
      <add path="font\HDharmonyB.ttf"/>
      <add path="font\HDharmonyL.ttf"/>
    </privateFonts>-->

    <!--<pdfRendering fontEmbeddingMode="Subset" />-->
  </Telerik.Reporting>
</configuration>