<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="sqlServer4.0" />
    <dataSource name="JC2" connectionString="Data Source=10.208.168.42;Initial Catalog=HMESDB;User ID=mesdba;Password=h1s@ladmin;Integrated Security=False"/>	  
  </database>

  <sqlMaps>
    <sqlMap resource="MenuData.xml" />
    <sqlMap resource="ComCodeData.xml" />
    <sqlMap resource="DicData.xml" />
    <sqlMap resource="DictionaryData.xml" />
    <sqlMap resource="MessageData.xml" />
    <sqlMap resource="UserInfoData.xml" />
    <sqlMap resource="MsgData.xml" />
    <sqlMap resource="CUDData.xml" />
    <sqlMap resource="ErrorLogData.xml" />
    <sqlMap resource="ComSearchControlData.xml" />
    <sqlMap resource="ButtonData.xml" />
    <sqlMap resource="AuthGroupData.xml" />
    <sqlMap resource="NoticeData.xml" />
    <sqlMap resource="WidgetData.xml" />
    <sqlMap resource="StatisticsData.xml" />

    <sqlMap resource="Info01Data.xml" />
    <sqlMap resource="Info03Data.xml" />
    <sqlMap resource="Info04Data.xml" />
    <sqlMap resource="Info05Data.xml" />
    <sqlMap resource="Info06Data.xml" />
    <sqlMap resource="Info19Data.xml" />
    <sqlMap resource="Info47Data.xml" />
    <sqlMap resource="Info48Data.xml" />
    <sqlMap resource="Pln02Data.xml" />
    <sqlMap resource="Pln03Data.xml" />
    <sqlMap resource="Pln04Data.xml" />
    <sqlMap resource="Qua10Data.xml" />
    <sqlMap resource="Qua11Data.xml" />
    <sqlMap resource="Qua12Data.xml" />
    <sqlMap resource="Qua22Data.xml" />
    <sqlMap resource="Qua24Data.xml" />
    <sqlMap resource="Res02Data.xml" />
    <sqlMap resource="Res18Data.xml" />
    <sqlMap resource="Res19Data.xml" />
    <sqlMap resource="Mon10Data.xml" />
    
  </sqlMaps>
</sqlMapConfig>