@charset "utf-8";
@import url(reset.css);
@import url(font.css);


/* 작성일 : 2024.03.26 */
/* 작성자 : 정유림 */


/* LAYOUT */
html, body {position:relative; margin:0px; padding:0px; width:100%; height:100vh; /*min-width:1680px;*/}


/* Login Box */
#wrap {position:relative; margin:0px; padding:0px; width:100%; height:100%;}
#wrap:after {content:""; display:table; clear:both;}
.column {float:left; padding:0px; width:50%; height:100%;}

.col-left {background-color:#002e57; 
           background-image:url('/img/New/login_left_bg.jpg');
           background-position:left center; background-repeat:no-repeat;}
.col-right {background-color:#ffffff; height:100vh; display: flex; align-items: center;}

.contents {position:relative; margin-left:100px; padding:0px; width:520px;}
h1 {height:56px; 
    background-image:url('/img/New/login_logo.png'); 
    background-repeat:no-repeat; background-position:0px 0px;}
h2 {margin:0px; padding:0px; line-height:34px; text-indent:-0.07em; color:#000000; font-size:46px; font-weight:600; font-family:'Inter';}
h2 span {display:inline-block; margin-top:90px; margin-left:19px; color:#5c6266; font-size:20px; font-weight:400; font-family:'Inter'; letter-spacing:-0.025em;}

.login_box {margin-top:60px; padding:0px;}
.login_box ul.login {margin:0px; padding:0px; font-size:0px;}
.login_box ul.login li {display:block; text-align:left;}
.login_box ul.login li div {width:100%; height:60px; border:1px #d6d6d6 solid;}
.login_box ul.login li div.id {background-image:url('/img/New/icon_login_id.png'); background-repeat:no-repeat; background-position:left top;}
.login_box ul.login li div.pw {background-image:url('/img/New/icon_login_pw.png'); background-repeat:no-repeat; background-position:left top;}
.login_box ul.login li input[type="text"],
.login_box ul li input[type="password"] {width:460px; height:58px; line-height:58px; margin-left:58px; border:none; font-size:16px; color:#4d4d4d; font-weight:200; letter-spacing:-0.025em;}

.login_box ul.login li input::placeholder {font-size:16px; color:#999999; font-weight:200; opacity:1;}
.login_box ul.login li input::-webkit-input-placeholder {font-size:16px; color:#999999; font-weight:200;}
.login_box ul.login li input:-ms-input-placeholder {font-size:16px; color:#999999; font-weight:200;} /* Internet Explorer 10-11 */
.login_box ul.login li input::-ms-input-placeholder {font-size:16px; color:#999999; font-weight:200;} /* Microsoft Edge */

button.btn_login {display:block; width:100%; height:60px; line-height:60px; background-color:#00498a; font-size:24px; font-weight:500; color:#ffffff; text-align:center;}
button.btn_login:hover {background:#0980db; color:#ffffff;}

ul.btn {margin:30px 0px 0px 0px; padding:0px; font-size:0px;}
ul.btn li {display:inline-block;}
ul.btn li:nth-child(2) {margin-left:20px;}
ul.btn li:nth-child(3) {margin-left:20px;}
ul.btn li select {width:165px; height:40px; line-height:28px; color:#666666; font-weight:400; font-size:14px; font-family:'Inter'; padding-left:12px; padding-right:32px; border:2px #c7c7c7 solid; background:#ffffff url('/img/New/login_select.png') no-repeat top right; /* 네이티브 화살표를 커스텀 화살표로 대체 */ -webkit-appearance:none; /* 네이티브 외형 감추기 */ -moz-appearance:none; appearance:none;}
ul.btn li select::-ms-expand {display:none; /* IE 10, 11의 네이티브 화살표 숨기기 */}
ul.btn li select:hover {border:2px #999999 solid;}
ul.btn li button {width:155px; height:40px; border:2px #c7c7c7 solid; font-size:14px; font-weight:500; color:#666666; font-family:'Inter'; background-color:#ffffff;}
ul.btn li button:hover {border:2px #999999 solid; background-color:#999999; color:#ffffff;}

footer {position:relative; margin-top:69px; font-size:14px; color:#808080; font-weight:300; font-family:'Inter';}
footer > strong {color:#000000; font-size:14px; font-weight:500; font-family:'Inter';}

.mt20 {margin-top:20px !important;}


/*
    2024-03-28 KFA - JANG YONG JE 추가
*/
input.btn_login {display:block; width:100%; height:60px; line-height:60px; background-color:#00498a; font-size:24px; font-weight:500; color:#ffffff; text-align:center;}
input.btn_login:hover {background:#0980db; color:#ffffff;}

ul.btn li input {width:250px; height:40px; border:2px #c7c7c7 solid; font-size:14px; font-weight:500; color:#666666; font-family:'Inter'; background-color:#ffffff;}
ul.btn li input:hover {border:2px #999999 solid; background-color:#999999; color:#ffffff;}