<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 연결된 DB 정보(개발용 DB에서 실서버의 DB에 접근하고자 할 경우 사용 -->
	  <add key="LinkedServer" value=""/>
	  <!--add key="LinkedServer" value="[MESSVR].[HLMESDB].[dbo]."/-->
    <!-- DB 정보(개발서버) -->
    <!--<add key="dbLocation" value="10.242.48.45"/>
    <add key="dbUser" value="sa"/>
    <add key="dbPassword" value="p@ssw0rd"/>
    <add key="dbName" value="HMESDB"/>-->
    <!-- DB 정보(가동서버) -->
    <add key="dbLocation" value="10.242.48.35" />
    <add key="dbUser" value="mesdba" />
    <add key="dbPassword" value="h1s@ladmin" />
    <add key="dbName" value="HMESDB" />
    <!-- 
       사무실 현황판 제목 정보 : 라인이 추가 또는 변경이 될 경우 사용, 
         key="shop;라인;" 
       value="라인제목;표시순서" 
       표시순서가 중복되면 순서상 마지막 라인의 데이터만 보이므로 순서를 중복해서 입력하면 안된다. 차라리 입력안하는게 바람직하다.
    -->
    <add key="BPA;03" value="HG HEVP;1"/>
    <add key="BPA;04" value="LF PHEV;2"/>
    <add key="BPA;07" value="12V;3"/>
    <add key="BPA;08" value="AE EV;4"/>
    <add key="BPA;01" value="LF/JF HEV 1;5"/>
    <add key="BPA;05" value="LF/JF HEV 2;6"/>
    <add key="CMA;09" value="AE/DE HEV 1;7"/>
    <add key="BPA;10" value="AE/DE HEV 2;8"/>
    <!-- 
       라인현황판 제목 정보 : 라인이 추가 또는 변경이 될 경우 사용, 
         key="shop1;라인1;shop2;라인2" 
       value="라인1 제목;라인2 제목" 
    -->
    <add key="BPA;04;BPA;03" value="JF HEV;LF HEV"/>
    <!--<add key="BPA;01;BPA;05" value="HG/VG;LF PHEV"/>-->
    <add key="BPA;14;BPA;40" value="OS EV1;MQ4 HEV2"/>
    <add key="BPA;08;BPA;07" value="AE/DE HEV2;AE/DE HEV1"/>
    <add key="BPA;10;BPA;11" value="AE EV;JF PHEV W/G"/>
  </appSettings>
  <connectionStrings/>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            <authentication> 섹션에서는 ASP.NET에서 사용되는 
            of the security 보안 인증 모드의 구성을 설정하여 
            들어오는 사용자를 식별할 수 있습니다. 
        -->
    <authentication mode="Windows"/>
    <!--
            <customErrors> 섹션에서는 요청을 실행하는 동안 
            처리되지 않은 오류가 발생하는 경우 수행할 작업을 
            구성할 수 있습니다. 특히 이 
            섹션에서 개발자는 오류 스택 추적 대신 html 
            오류 페이지가 표시되도록 구성할 수 있습니다.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        IIS(인터넷 정보 서비스) 7.0에서 ASP.NET AJAX를 실행하려면
        system.webServer 섹션이 필요합니다. 이전 버전에서는 필요하지 않습니다.
    -->
</configuration>